{% extends 'Tienda_app/base_tienda.html' %}
{% load static %}

{% block title %} Iniciar sesion {% endblock title %}

{% block main %}

    <style>
        body {
            background-color: #f5f5f5; /* Fondo gris claro */
        }
        .logout-container {
            background-color: #fff; /* Fondo blanco para el contenedor */
            border: 1px solid #dcdcdc; /* Borde gris claro */
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
        }
        
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="logout-container">
                    <h2 class="text-center">Has cerrado sesion</h2>
                    <p class="text-center">¡Te EsPeRaMoS PrOnTo!</p>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}



